MAP:Base
AIRPORT:EPRA,EPWW
FOLDER:Airport Layout
ACTIVE:1
COLOR:basectr
COORDTYPE:OTHER:REGION


{% for name, geom in data.epra_kml['Base'].items() %}
    {{- geom | to_poly(name, 'base') }}
{% endfor %}