MAP:RWY CTRLINE:A
AIRPORT:EPRA,EPWW
FOLDER:APP
COLOR:runway-ctrline
ASRDATA:TWR
ACTIVE:1
{{ ecl_dashes(runways['EPRA']['07'], 15) }}
{{ marker_ticks(runways['EPRA']['07'], [5, 10, 15], -0.5, 1) }}

{{ ecl_dashes(runways['EPRA']['25'], 15) }}
{{ marker_ticks(runways['EPRA']['25'], [5, 10, 15], -0.5, 1) }}