MAP:RWY CTRLINE:A
AIRPORT:EPKT,EPWW
FOLDER:APP
COLOR:runway-ctrline
ASRDATA:TWR
ACTIVE:1
{{ ecl_dashes(runways['EPKT']['08'], 15) }}
{{ marker_ticks(runways['EPKT']['08'], [5, 10, 15], -0.5, 1) }}

{{ ecl_dashes(runways['EPKT']['26'], 15) }}
{{ marker_ticks(runways['EPKT']['26'], [5, 10, 15], -0.5, 1) }}