MAP:RWY:A
AIRPORT:EPKT,EPWW
FOLDER:APP
COLOR:runway-app
ASRDATA:TWR
ACTIVE:1
STYLE:Solid:2
//08-26
LINE:N050.28.33.780:E019.03.34.448:N050.28.33.460:E019.06.00.500

MAP:RWY CTRLINE:A
AIRPORT:EPKT,EPWW
FOLDER:APP
COLOR:runway-ctrline
ASRDATA:TWR
ACTIVE:1
{{ ecl_dashes(runways['EPKT']['08'], 15) }}
{{ marker_ticks(runways['EPKT']['08'], [5, 10, 15], -0.5, 1) }}

{{ ecl_dashes(runways['EPKT']['26'], 15) }}
{{ marker_ticks(runways['EPKT']['26'], [5, 10, 15], -0.5, 1) }}