MAP:RWY CTRLINE:A
AIRPORT:EPSC,EPWW
FOLDER:APP
COLOR:runway-ctrline
ASRDATA:TWR
ACTIVE:1
{{ ecl_dashes(runways['EPSC']['13'], 15) }}
{{ marker_ticks(runways['EPSC']['13'], [5, 10, 15], -0.5, 1) }}

{{ ecl_dashes(runways['EPSC']['31'], 15) }}
{{ marker_ticks(runways['EPSC']['31'], [5, 10, 15], -0.5, 1) }}