MAP:Taxiway Labels
AIRPORT:EPWA,EPWW
FOLDER:Labels
ACTIVE:1
ZOOM:400
FONTSIZE:=:10

COLOR:labels-twy
{% for name, geom in data.epwa_kml['TaxiwayLabels'].items() %}
    {{- geom | to_text(name) }}
{% endfor %}