MAP:RWY CTRLINE:A
AIRPORT:EPWA,EPWW
FOLDER:APP
COLOR:runway-ctrline
ASRDATA:TWR
ACTIVE:1
{{ ecl_dashes(runways['EPWA']['11'], 15) }}
{{ marker_ticks(runways['EPWA']['11'], [5, 10, 15], 0.5, 0.5) }}

{{ ecl_dashes(runways['EPWA']['15'], 15) }}
{{ marker_ticks(runways['EPWA']['15'], [5, 10, 15], 0.5, 0.5) }}

{{ ecl_dashes(runways['EPWA']['29'], 15) }}
{{ marker_ticks(runways['EPWA']['29'], [5, 10, 15], 0.5, 0.5) }}

{{ ecl_dashes(runways['EPWA']['33'], 15) }}
{{ marker_ticks(runways['EPWA']['33'], [5, 10, 15], 0.5, 0.5) }}