MAP:RWY:A
AIRPORT:EPWA,EPWW
FOLDER:APP
COLOR:runway-app
ASRDATA:TWR
ACTIVE:1
STYLE:Solid:2
//11-29
LINE:N052.10.17.310:E020.56.48.170:N052.09.46.400:E020.58.38.291
//15-33
LINE:N052.10.42.859:E020.57.21.262:N052.09.16.499:E020.58.36.772

MAP:RWY CTRLINE:A
AIRPORT:EPWA,EPWW
FOLDER:APP
COLOR:runway-ctrline
ASRDATA:TWR
ACTIVE:1
{{ ecl_dashes(runways['EPWA']['11'], 15) }}
{{ marker_ticks(runways['EPWA']['11'], [5, 10, 15], -0.5, 1) }}

{{ ecl_dashes(runways['EPWA']['15'], 15) }}
{{ marker_ticks(runways['EPWA']['15'], [5, 10, 15], -0.5, 1) }}

{{ ecl_dashes(runways['EPWA']['29'], 15) }}
{{ marker_ticks(runways['EPWA']['29'], [5, 10, 15], -0.5, 1) }}

{{ ecl_dashes(runways['EPWA']['33'], 15) }}
{{ marker_ticks(runways['EPWA']['33'], [5, 10, 15], -0.5, 1) }}