MAP:Taxiway Labels
AIRPORT:EPKK,EPWW
FOLDER:Labels
ACTIVE:1
ZOOM:400
FONTSIZE:=:10

COLOR:labels-twy
{% for name, geom in data.epkk_kml['TaxiwayLabels'].items() %}
    {{- geom | to_text(name) }}
{% endfor %}