MAP:Stands
AIRPORT:EPKK,EPWW
FOLDER:Labels
COLOR:labels-stand
FONTSIZE:=:10
ACTIVE:1

ZOOM:500
{% for name, geom in data.epkk_kml['StandLabels'].items() %}
    {{- geom | to_text(name) }}
{% endfor %}