MAP:RWY CTRLINE:A
AIRPORT:EPKK,EPWW
FOLDER:APP
COLOR:runway-ctrline
ASRDATA:TWR
ACTIVE:1
{{ ecl_dashes(runways['EPKK']['07'], 15) }}
{{ marker_ticks(runways['EPKK']['07'], [5, 10, 15], 0.5, 0.5) }}

{{ ecl_dashes(runways['EPKK']['25'], 15) }}
{{ marker_ticks(runways['EPKK']['25'], [5, 10, 15], 0.5, 0.5) }}