MAP:RWY CTRLINE:A
AIRPORT:EPSY,EPWW
FOLDER:APP
COLOR:runway-ctrline
ASRDATA:TWR
ACTIVE:1
{{ ecl_dashes(runways['EPSY']['01'], 15) }}
{{ marker_ticks(runways['EPSY']['01'], [5, 10, 15], -0.5, 1) }}

{{ ecl_dashes(runways['EPSY']['19'], 15) }}
{{ marker_ticks(runways['EPSY']['19'], [5, 10, 15], -0.5, 1) }}