MAP:RWY:A
AIRPORT:EPSY,EPWW
FOLDER:APP
COLOR:runway-app
ASRDATA:TWR
ACTIVE:1
STYLE:Solid:2
//01-19
LINE:N053.28.16.360:E020.55.54.221:N053.29.33.068:E020.56.37.169

MAP:RWY CTRLINE:A
AIRPORT:EPSY,EPWW
FOLDER:APP
COLOR:runway-ctrline
ASRDATA:TWR
ACTIVE:1
{{ ecl_dashes(runways['EPSY']['01'], 15) }}
{{ marker_ticks(runways['EPSY']['01'], [5, 10, 15], -0.5, 1) }}

{{ ecl_dashes(runways['EPSY']['19'], 15) }}
{{ marker_ticks(runways['EPSY']['19'], [5, 10, 15], -0.5, 1) }}