MAP:RWY 11/29 CLOSURE
AIRPORT:EPWA,EPWW
FOLDER:NOTAMS
COLOR:closure
COORDTYPE:RWYCLOSED:REGION
RWYCLOSEDDEP:EPWA:11,29
RWYCLOSEDARR:EPWA:11,29
FONTSIZE:=:15
ACTIVE:251002:251025:0:0900:1700

{% for name, geom in data.notams_kml['EPWA A2880/25'].items() %}
    {{- geom | to_poly(name, 'runwayepwa') }}
{% endfor %}