MAP:TWY C1 CLOSURE
AIRPORT:EPBY,EPWW
FOLDER:NOTAMS
COLOR:closure
COORDTYPE:TWYCLOSED:REGION
FONTSIZE:=:15
ACTIVE:250220:260121:0:0000:2359
{% for name, geom in data.notams_kml['EPBY SUP 18/25'].items() %}
    {{- geom | to_poly(name, 'closure') }}
{% endfor %}

MAP:TWY C CLOSURE
AIRPORT:EPLB,EPWW
FOLDER:NOTAMS
COLOR:closure
COORDTYPE:TWYCLOSED:REGION
FONTSIZE:=:15
ACTIVE:251202:260302:0:0957:2259
{% for name, geom in data.notams_kml['EPLB E3597/25'].items() %}
    {{- geom | to_poly(name, 'closure') }}
{% endfor %}

MAP:APN GA4 CLOSURE
AIRPORT:EPMO,EPWW
FOLDER:NOTAMS
COLOR:closure
COORDTYPE:TWYCLOSED:REGION
FONTSIZE:=:15
ACTIVE:250123:251231:0:0000:2359
{% for name, geom in data.notams_kml['EPMO SUP 01/25'].items() %}
    {{- geom | to_poly(name, 'closure') }}
{% endfor %}

MAP:TWY D CLSD
AIRPORT:EPMO,EPWW
FOLDER:NOTAMS
COLOR:closure
COORDTYPE:TWYCLOSED:REGION
FONTSIZE:=:15
ACTIVE:251202:260301:0:0909:2359
{% for name, geom in data.notams_kml['EPMO H3285/25'].items() %}
    {{- geom | to_poly(name, 'closure') }}
{% endfor %}

MAP:TWY A5 AND S CLOSURE
AIRPORT:EPRA,EPWW
FOLDER:NOTAMS
COLOR:closure
COORDTYPE:TWYCLOSED:REGION
FONTSIZE:=:15
ACTIVE:251201:260301:0:0803:2359
{% for name, geom in data.notams_kml['EPRA H3271/25'].items() %}
    {{- geom | to_poly(name, 'closure') }}
{% endfor %}

MAP:CONSTRUCTION TWY E, F, R4, R5
AIRPORT:EPRZ,EPWW
FOLDER:NOTAMS
COLOR:closure
COORDTYPE:TWYCLOSED:REGION
FONTSIZE:=:15
ACTIVE:250515:260815:0:0000:2359
{% for name, geom in data.notams_kml['EPRZ SUP 56/25'].items() %}
    {{- geom | to_poly(name, 'closure') }}
{% endfor %}

MAP:APN 2 AND TWY S CLOSURE
AIRPORT:EPSY,EPWW
FOLDER:NOTAMS
COLOR:closure
COORDTYPE:TWYCLOSED:REGION
FONTSIZE:=:15
ACTIVE:251015:260115:0:0005:2359
{% for name, geom in data.notams_kml['EPSY E3054/25'].items() %}
    {{- geom | to_poly(name, 'closure') }}
{% endfor %}

MAP:APN 10 CLOSURE
AIRPORT:EPWA,EPWW
FOLDER:NOTAMS
COLOR:closure
COORDTYPE:TWYCLOSED:REGION
BLOCKS:EPWA:53,53B,54,54A,54B
FONTSIZE:=:15
ACTIVE:251030:270131:0:0000:2359
{% for name, geom in data.notams_kml['EPWA SUP 131/25'].items() %}
    {{- geom | to_poly(name, 'closure') }}
{% endfor %}

MAP:TWY N3, E2, E3 AND E4 FOR ACFT WITH WINGSPAN UP TO 36M
AIRPORT:EPWA,EPWW
FOLDER:NOTAMS
COLOR:closure
COORDTYPE:TWYCLOSED:REGION
FONTSIZE:=:15
ACTIVE:251025:260124:0:0800:2359
{% for name, geom in data.notams_kml['EPWA A3130/25'].items() %}
    {{- geom | to_text(name) }}
{% endfor %}

MAP:TWY S3 BTN RWY 15/33 AND TWY D2 CLSD
AIRPORT:EPWA,EPWW
FOLDER:NOTAMS
COLOR:closure
COORDTYPE:TWYCLOSED:REGION
FONTSIZE:=:15
ACTIVE:251208:260308:0:1151:2359
{% for name, geom in data.notams_kml['EPWA A3562/25'].items() %}
    {{- geom | to_poly(name, 'closure') }}
{% endfor %}

MAP:TWY D2 AVBL FOR ACFT WITH WINGSPAN UP TO 36M
AIRPORT:EPWA,EPWW
FOLDER:NOTAMS
COLOR:closure
COORDTYPE:TWYCLOSED:REGION
FONTSIZE:=:15
ACTIVE:251208:260308:0:1151:2359
{% for name, geom in data.notams_kml['EPWA A3563/25'].items() %}
    {{- geom | to_text(name) }}
{% endfor %}

MAP:CONSTRUCTION WORKS
AIRPORT:EPWR,EPWW
FOLDER:NOTAMS
COLOR:closure
COORDTYPE:TWYCLOSED:REGION
FONTSIZE:=:15
ACTIVE:251204:251231:0:1800:2300
{% for name, geom in data.notams_kml['EPWR SUP 137/25'].items() %}
    {{- geom | to_poly(name, 'closure') }}
{% endfor %}

MAP:CONSTRUCTION WORKS
AIRPORT:EPWR,EPWW
FOLDER:NOTAMS
COLOR:closure
COORDTYPE:TWYCLOSED:REGION
FONTSIZE:=:15
ACTIVE:251231:260202:0:2300:1800
{% for name, geom in data.notams_kml['EPWR SUP 138/25'].items() %}
    {{- geom | to_poly(name, 'closure') }}
{% endfor %}

MAP:STND 16-18 CLSD
AIRPORT:EPWR,EPWW
FOLDER:NOTAMS
COLOR:closure
COORDTYPE:TWYCLOSED:REGION
BLOCKS:EPWR:16,17,18
FONTSIZE:=:15
ACTIVE:251204:260304:0:2000:2359
{% for name, geom in data.notams_kml['EPWR H3314/25'].items() %}
    {{- geom | to_poly(name, 'closure') }}
{% endfor %}

MAP:STND 65 AND 66 CLSD
AIRPORT:EPWR,EPWW
FOLDER:NOTAMS
COLOR:closure
COORDTYPE:TWYCLOSED:REGION
BLOCKS:EPWR:25,26
FONTSIZE:=:15
ACTIVE:251204:260304:0:2000:2359
{% for name, geom in data.notams_kml['EPWR H3317/25'].items() %}
    {{- geom | to_poly(name, 'closure') }}
{% endfor %}

MAP:STND 3 AND 4 CLOSURE
AIRPORT:EPZG,EPWW
FOLDER:NOTAMS
COLOR:closure
COORDTYPE:TWYCLOSED:REGION
BLOCKS:EPZG:3,4
FONTSIZE:=:15
ACTIVE:251014:260115:0:0959:2259
{% for name, geom in data.notams_kml['EPZG E3046/25'].items() %}
    {{- geom | to_poly(name, 'closure') }}
{% endfor %}