MAP:Taxi Lanes
AIRPORT:EPWR,EPWW
FOLDER:Airport Layout
ACTIVE:1
STYLE:solid
{% set default = 0.000005 %}

COLOR:taxilane
{% for name, geom in data.epwr_kml['Taxilanes'].items() %}
    {{- geom | simplify(default) | to_line(name) }}
{% endfor %}