MAP:Holding Points
AIRPORT:EPMO,EPWW
FOLDER:Holding Points
COLOR:holdingpoint
STYLE:Solid:2
ACTIVE:1
{% set default = 0.000005 %}
{% for name, geom in data.epmo_kml['HP CATI'].items() %}
    {% if geom[0].__class__.__name__ == 'LinearRing' %}
    {{- geom | simplify(default) | to_poly(name, 'holdingpoint') -}}
    {% else %}
    {{- geom | simplify(default) | to_line(name) -}}
    {% endif %}
{% endfor %}