MAP:RWY CTRLINE:A
AIRPORT:EPMO,EPWW
FOLDER:APP
COLOR:runway-ctrline
ASRDATA:TWR
ACTIVE:1
{{ ecl_dashes(runways['EPMO']['08'], 15) }}
{{ marker_ticks(runways['EPMO']['08'], [5, 10, 15], -0.5, 1) }}

{{ ecl_dashes(runways['EPMO']['26'], 15) }}
{{ marker_ticks(runways['EPMO']['26'], [5, 10, 15], -0.5, 1) }}