MAP:Runway
AIRPORT:EP,EPWW
FOLDER:Airport Layout
ACTIVE:1

{% for name, geom in data.ep_kml['RWY'].items() %}
    {{- geom | to_poly(name, 'runway') }}
{% endfor %}

{% for name, geom in data.ep_kml['RWY Grass'].items() %}
    {{- geom | to_poly(name, 'runway-grass') }}
{% endfor %}