MAP:Aprons
AIRPORT:EP,EPWW
FOLDER:Airport Layout
ACTIVE:1
COLOR:apron

{% for name, geom in data.ep_kml['APN'].items() %}
    {{- geom | to_poly(name, 'apron') }}
{% endfor %}

{% for name, geom in data.ep_kml['APN Grass'].items() %}
    {{- geom | to_poly(name, 'apron-grass') }}
{% endfor %}