MAP:RWY 11 CTRLINE:A
FOLDER:TMA WARSZAWA
ACTIVE:RWY:ARR:EPWA11:DEP:*
FONTSIZE:-:2
ZOOM:8
{{ ecl_dashes(runways['EPWA']['11'], 15) }}
{{ marker_ticks(runways['EPWA']['11'], [5, 10, 15], -0.5, 1) }}

MAP:RWY 15 CTRLINE:A
FOLDER:TMA WARSZAWA
ACTIVE:RWY:ARR:EPWA15:DEP:*
FONTSIZE:-:2
ZOOM:8
{{ ecl_dashes(runways['EPWA']['15'], 15) }}
{{ marker_ticks(runways['EPWA']['15'], [5, 10, 15], -0.5, 1) }}

MAP:RWY 29 CTRLINE:A
FOLDER:TMA WARSZAWA
ACTIVE:RWY:ARR:EPWA29:DEP:*
FONTSIZE:-:2
ZOOM:8
{{ ecl_dashes(runways['EPWA']['29'], 15) }}
{{ marker_ticks(runways['EPWA']['29'], [5, 10, 15], -0.5, 1) }}

MAP:RWY 33 CTRLINE:A
FOLDER:TMA WARSZAWA
ACTIVE:RWY:ARR:EPWA33:DEP:*
FONTSIZE:-:2
ZOOM:8
{{ ecl_dashes(runways['EPWA']['33'], 15) }}
{{ marker_ticks(runways['EPWA']['33'], [5, 10, 15], -0.5, 1) }}