MAP:RWY:A
AIRPORT:EPLB,EPWW
FOLDER:APP
COLOR:runway-app
ASRDATA:TWR
ACTIVE:1
STYLE:Solid:2
//07-25
LINE:N051.14.15.518:E022.41.45.370:N051.14.33.680:E022.43.52.021

MAP:RWY CTRLINE:A
AIRPORT:EPLB,EPWW
FOLDER:APP
COLOR:runway-ctrline
ASRDATA:TWR
ACTIVE:1
{{ ecl_dashes(runways['EPLB']['07'], 15) }}
{{ marker_ticks(runways['EPLB']['07'], [5, 10, 15], -0.5, 1) }}

{{ ecl_dashes(runways['EPLB']['25'], 15) }}
{{ marker_ticks(runways['EPLB']['25'], [5, 10, 15], -0.5, 1) }}