MAP:RWY CTRLINE:A
AIRPORT:EPLB,EPWW
FOLDER:APP
COLOR:runway-ctrline
ASRDATA:TWR
ACTIVE:1
{{ ecl_dashes(runways['EPLB']['07'], 15) }}
{{ marker_ticks(runways['EPLB']['07'], [5, 10, 15], -0.5, 1) }}

{{ ecl_dashes(runways['EPLB']['25'], 15) }}
{{ marker_ticks(runways['EPLB']['25'], [5, 10, 15], -0.5, 1) }}