MAP:RWY CTRLINE:A
AIRPORT:EPPO,EPWW
FOLDER:APP
COLOR:runway-ctrline
ASRDATA:TWR
ACTIVE:1
{{ ecl_dashes(runways['EPPO']['10'], 15) }}
{{ marker_ticks(runways['EPPO']['10'], [5, 10, 15], -0.5, 1) }}

{{ ecl_dashes(runways['EPPO']['28'], 15) }}
{{ marker_ticks(runways['EPPO']['28'], [5, 10, 15], -0.5, 1) }}