MAP:Taxiways EPRJ
AIRPORT:EPRZ,EPWW
FOLDER:Airport Layout
ACTIVE:1

{% for name, geom in data.eprz_kml['TWY EPRJ'].items() %}
    {{- geom | to_poly(name, 'taxiway') }}
{% endfor %}

MAP:Aprons EPRJ
AIRPORT:EPRZ,EPWW
FOLDER:Airport Layout
ACTIVE:1
COLOR:apron

{% for name, geom in data.eprz_kml['APN EPRJ'].items() %}
    {{- geom | to_poly(name, 'apron') }}
{% endfor %}

MAP:Runway EPRJ
AIRPORT:EPRZ,EPWW
FOLDER:Airport Layout
ACTIVE:1

{% for name, geom in data.eprz_kml['RWY'].items() %}
    {{- geom | to_poly(name, 'runway') }}
{% endfor %}

MAP:Stands EPRJ
AIRPORT:EPRZ,EPWW
FOLDER:Airport Layout
ACTIVE:1
COLOR:standline
STYLE:solid

{% for name, geom in data.eprz_kml['Stands EPRJ'].items() %}
    {{- geom | to_line(name) }}
{% endfor %}

MAP:Taxi Lanes EPRJ
AIRPORT:EPRZ,EPWW
FOLDER:Airport Layout
ACTIVE:1
STYLE:solid
{% set default = 0.000005 %}

COLOR:taxilane
{% for name, geom in data.eprz_kml['Taxilanes EPRJ'].items() %}
    {{- geom | simplify(default) | to_line(name) }}
{% endfor %}

MAP:Roads EPRJ
AIRPORT:EPRZ,EPWW
FOLDER:Airport Layout
ACTIVE:1
COLOR:road
STYLE:solid

{% for name, geom in data.eprz_kml['Roads EPRJ'].items() %}
    {{- geom | to_line(name) }}
{% endfor %}

MAP:Holding Points EPRJ
AIRPORT:EPRZ,EPWW
FOLDER:Holding Points
COLOR:holdingpoint
STYLE:Solid:2
ACTIVE:1
{% set default = 0.000005 %}
{% for name, geom in data.eprz_kml['HP CATI EPRJ'].items() %}
    {% if geom[0].__class__.__name__ == 'LinearRing' %}
    {{- geom | simplify(default) | to_poly(name, 'holdingpoint') -}}
    {% else %}
    {{- geom | simplify(default) | to_line(name) -}}
    {% endif %}
{% endfor %}

MAP:Buildings EPRJ
AIRPORT:EPRZ,EPWW
FOLDER:Airport Layout
ACTIVE:1

{% for name, geom in data.eprz_kml['Buildings EPRJ'].items() %}
    {{- geom | to_poly(name, 'building') }}
{% endfor %}

MAP:Taxiway Labels EPRJ
AIRPORT:EPRZ,EPWW
FOLDER:Labels
ACTIVE:1
ZOOM:400
FONTSIZE:=:10

COLOR:labels-twy
{% for name, geom in data.eprz_kml['TaxiwayLabels EPRJ'].items() %}
    {{- geom | to_text(name) }}
{% endfor %}

MAP:Stands EPRJ
AIRPORT:EPRZ,EPWW
FOLDER:Labels
COLOR:labels-stand
FONTSIZE:=:10
ACTIVE:1

ZOOM:500
{% for name, geom in data.eprz_kml['StandLabels EPRJ'].items() %}
    {{- geom | to_text(name) }}
{% endfor %}

MAP:Buildings EPRJ
AIRPORT:EPRZ,EPWW
FOLDER:Labels
COLOR:labels-stand
FONTSIZE:=:10

ZOOM:500
{% for name, geom in data.eprz_kml['BuildingLabels EPRJ'].items() %}
    {{- geom | to_text(name) }}
{% endfor %}