MAP:RWY:A
AIRPORT:EPRZ,EPWW
FOLDER:APP
COLOR:runway-app
ASRDATA:TWR
ACTIVE:1
STYLE:Solid:2
//09-27
LINE:N050.06.36.670:E022.00.05.530:N050.06.34.538:E022.02.46.169

MAP:RWY CTRLINE:A
AIRPORT:EPRZ,EPWW
FOLDER:APP
COLOR:runway-ctrline
ASRDATA:TWR
ACTIVE:1
{{ ecl_dashes(runways['EPRZ']['09'], 15) }}
{{ marker_ticks(runways['EPRZ']['09'], [5, 10, 15], -0.5, 1) }}

{{ ecl_dashes(runways['EPRZ']['27'], 15) }}
{{ marker_ticks(runways['EPRZ']['27'], [5, 10, 15], -0.5, 1) }}