MAP:RWY CTRLINE:A
AIRPORT:EPRZ,EPWW
FOLDER:APP
COLOR:runway-ctrline
ASRDATA:TWR
ACTIVE:1
{{ ecl_dashes(runways['EPRZ']['09'], 15) }}
{{ marker_ticks(runways['EPRZ']['09'], [5, 10, 15], -0.5, 1) }}

{{ ecl_dashes(runways['EPRZ']['27'], 15) }}
{{ marker_ticks(runways['EPRZ']['27'], [5, 10, 15], -0.5, 1) }}