MAP:RWY CTRLINE:A
AIRPORT:EPBY,EPWW
FOLDER:APP
COLOR:runway-ctrline
ASRDATA:TWR
ACTIVE:1
{{ ecl_dashes(runways['EPBY']['08'], 15) }}
{{ marker_ticks(runways['EPBY']['08'], [5, 10, 15], -0.5, 1) }}

{{ ecl_dashes(runways['EPBY']['26'], 15) }}
{{ marker_ticks(runways['EPBY']['26'], [5, 10, 15], -0.5, 1) }}