MAP:RWY:A
AIRPORT:EPBY,EPWW
FOLDER:APP
COLOR:runway-app
ASRDATA:TWR
ACTIVE:1
STYLE:Solid:2
//08-26
LINE:N053.05.42.889:E017.57.33.070:N053.05.54.089:E017.59.46.151
//08L-26R
LINE:N053.06.22.961:E017.57.22.241:N053.06.24.800:E017.57.56.948

MAP:RWY CTRLINE:A
AIRPORT:EPBY,EPWW
FOLDER:APP
COLOR:runway-ctrline
ASRDATA:TWR
ACTIVE:1
{{ ecl_dashes(runways['EPBY']['08'], 15) }}
{{ marker_ticks(runways['EPBY']['08'], [5, 10, 15], -0.5, 1) }}

{{ ecl_dashes(runways['EPBY']['26'], 15) }}
{{ marker_ticks(runways['EPBY']['26'], [5, 10, 15], -0.5, 1) }}