MAP:RWY CTRLINE:A
AIRPORT:EPZG,EPWW
FOLDER:APP
COLOR:runway-ctrline
ASRDATA:TWR
ACTIVE:1
{{ ecl_dashes(runways['EPZG']['06'], 15) }}
{{ marker_ticks(runways['EPZG']['06'], [5, 10, 15], -0.5, 1) }}

{{ ecl_dashes(runways['EPZG']['24'], 15) }}
{{ marker_ticks(runways['EPZG']['24'], [5, 10, 15], -0.5, 1) }}