MAP:RWY:A
AIRPORT:EPZG,EPWW
FOLDER:APP
COLOR:runway-app
ASRDATA:TWR
ACTIVE:1
STYLE:Solid:2
//06-24
LINE:N052.08.01.331:E015.46.55.369:N052.08.35.959:E015.48.54.209

MAP:RWY CTRLINE:A
AIRPORT:EPZG,EPWW
FOLDER:APP
COLOR:runway-ctrline
ASRDATA:TWR
ACTIVE:1
{{ ecl_dashes(runways['EPZG']['06'], 15) }}
{{ marker_ticks(runways['EPZG']['06'], [5, 10, 15], -0.5, 1) }}

{{ ecl_dashes(runways['EPZG']['24'], 15) }}
{{ marker_ticks(runways['EPZG']['24'], [5, 10, 15], -0.5, 1) }}